---
http_interactions:
- request:
    method: get
    uri: https://linksearch.api.cj.com/v2/link-search?website-id=5742006&records-per-page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - 00853007dc51e2bd4d3d139cbd8d387b1c3d9cae8afd4cef2a8c5add85d2808d34cf17e3303197fc22fbbd5ec4467b40c244f99035561789932878bdcf14ef7b67/1faecb4fe7d2ce415f7418e7267ef71a42b5d0f7934607e6d1389455cf3b715b70892b0ec2da8136c8bff4ab91ebcfec466caf8eacfd7d16a4ffe42e935cc0a1
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <cj-api><links total-matched="192738" records-returned="20" page-number="1"><link><advertiser-id>4034381</advertiser-id><advertiser-name>BornPrettyStore.com</advertiser-name><category>cosmetics</category><click-commission>0.0</click-commission><creative-height>125</creative-height><creative-width>125</creative-width><language>en</language><lead-commission></lead-commission><link-code-html></link-code-html><link-code-javascript></link-code-javascript><description>BornPrettyStore Liner Polish with Glitter from 0.99 USD</description><destination>http://www.bornprettystore.com/beauty-nail-c-268.html</destination><link-id>11423574</link-id><link-name>BornPrettyStore Liner Polish with Glitter from 0.99 USD</link-name><link-type>Banner</link-type><performance-incentive>true</performance-incentive><promotion-end-date></promotion-end-date><promotion-start-date></promotion-start-date><promotion-type></promotion-type><relationship-status>notjoined</relationship-status><sale-commission>10.00% - 15.00%</sale-commission><seven-day-epc>N/A</seven-day-epc><three-month-epc>0.00</three-month-epc></link><link><advertiser-id>807</advertiser-id><advertiser-name>GiftTree</advertiser-name><category>gifts</category><click-commission>0.0</click-commission><creative-height>0</creative-height><creative-width>0</creative-width><language>en</language><lead-commission></lead-commission><link-code-html></link-code-html><link-code-javascript></link-code-javascript><description>gifts,gifts,gifts,flowers,florist,gifts,christmas,holiday,gifts,basket,flower,shop,baskets,baby,balloon[...]
