<div class="hero-unit">
  <h2><%= offer.title %></h2>
  <p><%= offer.description %></p>
  <p><%= offer.url %></p>
  <p>
    <%= link_to 'Get Deal', offer, class: "btn btn-primary btn-large custom"  %>
  </p>
</div>
